html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

.body {
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: #FFF9EF;
} 

/* navigation */

.sidebar-menu {
	height: 100vh;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFF9EF;
	position: fixed;
	z-index: 1000;
}

nav {
	width: 100%;
}

nav .logo {
	margin-top: 20%;
}

nav .sidebar-list {
	margin-top: 20%;
}

nav .copyright {
	margin-top: 60%;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40%;
}

.sidebar-list li {
	margin: 5% 0;
}

.sidebar-list li:hover {
	text-decoration: underline;
	text-decoration-color: #DB504A;
}

.sidebar-list a {
	text-transform: lowercase;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.15em;
	color: #272727;
}

.copyright {
	display: flex;
	justify-content: center;
}

.copyright > p {
	font-size: 10px;
	padding: 0 1%;

}

.copyright > i {
	font-size: 10px;
}

.pages {
	width: 100%;
	background-color: #FFF9EF;
}

/* section 1 */

.home {
	height: 100vh;
	position: relative;
}

.home .section-text {
	height: 50vh;
	margin-left: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.home #text1 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #000000;
}

.home #text2 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 85px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #DB504A;
}

.home #text3 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 42px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #000000;
}

.home .socmed-icons {
	height: 30vh;
	margin: 2% 0 0 58%;	
}

.home .socmed-icons i {
	font-size: 48px;
	margin: 0 1.5%;	
	color: #000000;
}

.home .scroll-down {
	position: absolute;
	top: 92vh;
	left: 58vw;
}

.home .scroll-down > a {
	color: #DB504A;
	font-size: 48px;
	margin: 0 1.5%;	
}

/*section 2*/

.about-me {
	height: 100vh;
	display: flex;
}

.about-me .section-text {
	margin-left: 20%;
	width: 50%;
	background-color: #FFF9EF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2.5%;
}

.about-me .profile-pic {
	width: 30%;
	background-color: #FFF9EF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-me h1 {
	margin-bottom: 3%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 44px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	color: #000000;
	text-transform: lowercase;
}

.about-me p {
	margin: 1.5% 0 1.5% 0;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.15em;
	color: #000000;
}

.about-me img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
	width: 175px;
	height: 35px;
	margin-top: 10px;
	padding: 10px 30px;
	border-style: none;
	border:2px solid #DB504A;
	background-color: #DB504A;
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	z-index: 10000;
	cursor: pointer;
}

.btn:hover {
	background-color: #FFF9EF;
	color: #DB504A;
	border: 2px solid #DB504A;
}

/*section 3*/

.portfolio {
	height: 100vh;
	display: flex;
}

.portfolio .left-section {
	margin-left: 20%;
	width: 40%;
	background-color: #FFF9EF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2.5%;
	position: relative;
}

.portfolio h1 {
	margin-bottom: 3%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 44px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	color: #000000;
	text-transform: lowercase;
	position: absolute;
	top: 16%;
}

.portfolio img {
	width: 450px;
	position: absolute;
}

.pseudo-btn {
	width: 100px;
	height: 35px;
	margin-top: 10px;
	/* padding: 10px 30px; */
	border-style: none;
	background-color: #272727;
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	z-index: 10000;
}

.portfolio .right-section {
	width: 40%;
	background-color: #FFF9EF;
	display: flex;
	flex-direction: column;
	padding: 14% 5% 10% 2.5%;
}

.right-section h2 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	color: #000000;
	text-transform: uppercase;
}

.left-section h2 {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	color: #000000;
	text-transform: uppercase;
}

.right-section p {
	margin: 1.5% 0 0 0;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.15em;
	color: #000000;
}

.left-section p {
	margin: 1.5% 0 0 0;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.15em;
	color: #000000;
}

.right-section .code {
	display: flex;
	align-items: center;
	justify-content: center;
}

.right-section .code > button {
	margin: 10% 1.5%;
}


/*section 4*/

.skills {
	height: 100vh;
	background-color: #FFF9EF;
	margin-left: 20%;
	width: 80%;
	display: flex;
	position: relative;
}

.skills h1 {
	margin-bottom: 3%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 44px;
	display: flex;
	align-items: center;
	letter-spacing: 0.15em;
	color: #000000;
	text-transform: lowercase;
	position: absolute;
	top: 16%;
	left: 3.5%;
}

.skills .toolkit {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	top: 30%;
	left: 3.5%;
}

.skills .toolkit > img {
	height: 125px;
	width: 100px;
	margin: 3% 1.5%;
}

/*section 5*/

.contact {
	height: 100vh;
	background-color: #FFF9EF;
	display: flex;
}

.contact .left {
	margin-left: 20%;
	width: 40%;
	background-color: #FFF9EF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2.5%;
	position: relative;
}

.contact h1 {
	margin-bottom: 3%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.15em;
	color: #000000;
	text-transform: lowercase;
	position: absolute;
	top: 16%;
	left: 6.5%;
}

.contact .section-text {
	position: absolute;
	top: 30%;
	left: 20%;
}

.contact p {
	margin: 5% 0;
}

.contact .socmed-icons {
	width: 40%;
	position: absolute;
	top: 40%;
	left: 20%;
}

.contact .socmed-icons i {
	font-size: 40px;
	margin: 0 1.5%;	
	color: #000000;
}

.contact .right {
	width: 40%;
	background-color: #FFF9EF;
	display: flex;
	flex-direction: column;
	padding: 14% 5% 10% 2.5%;
}

.contact-form {
	padding: 50px 75px 0 0;
	display: block;
	line-height: 50px;
	font-family: 'Open Sans', sans-serif;
}

.contact-form h1 {
	font-family: 'Montserrat', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 29px;
	letter-spacing: 0.1em;
	color: #000000;
	text-transform: uppercase;
}

.contact-form input {
	padding: 10px 0 10px 10px;
	width: 100%;
	font-size: 12px;
}

.contact-form textarea {
	margin-top: 7px;
	margin-bottom: 0;
	padding: 10px 0 50px 10px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	border-color: lightgray;
}

.contact-form button {
	margin: 0;
}

.tooltip {
  position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	font-family: 'Raleway', sans-serif;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
	border-radius: 6px; 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.project-title a{
	display: inline;
	color: #000000;
}

.project-title a:hover{
text-decoration: underline;
}